/*
#896755
#624435
*/
*{
    margin: 0;
    padding: 0;
}
body{
    color: #624435;
    font-family: georgia;
}
h1{
    text-align: center;
    background-color: #896755;
    color:white;
    padding: 15px;
    border-bottom: 4px solid #624435;
    margin-bottom: 15px;
}
h2{
    color:white;
    background-color: #624435;
    padding: 7px;
    width: 300px;
    margin-top: 10px;
    font-size: 19px;
}
main{
    width: 80%;
    margin:auto;
}
li{
    margin-left: 25px;
    margin-bottom: 7px;
}
