/*Genericos*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: arial,sans-serif;
}
/*Etiquetas*/
h1{
    color:crimson;
    font-size:30px;
    font-style: italic;
    text-align: center;
    background-color: #dddddd;
    border-bottom:dotted 2px #000;
    padding: 10px;
    margin-bottom:10px; 
}
h2{
    font-weight:normal;
}
p{
    color:gray;
}
/*Clases*/
.resaltado{
    font-weight: bold;
    color:darkblue;
}
#principal{
    color:#096d76;
}
