@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;

}
ul{
	background-color: #06a8de;
}
ul li{
    list-style: none;
    text-align: center;
}
ul li a{
    color: #fff;
    display: block;
    padding:10px;
    text-decoration: none;
}
ul li a:hover{
    background-color: #fff;
    color: #06a8de;
}
.desplegable{
    width: 42px;
    height: 42px;
    background-color: #2c2c2c;
    display: block;
    position: absolute;
    z-index: 1;
    top:0;
    right: 0;
    background-image: url(../img/hamburger.gif);
    background-size: cover;
    cursor: pointer;
}
.desplegable:hover{
    background-color: #026586;
}
.menu{
    display: none;
}
@media screen and (min-width:60em){
    ul{
        display: flex;
        justify-content: center;
    }
    .desplegable{
        display: none;
    }
    .menu{
        display: block;
    }
}