/*
#896755
#624435
*/
*{
    margin: 0;
    padding: 0;
}
body{
    color: #624435;
    font-family: georgia;
    background-image: url(../img/fondo03.png);
}
h1{
    text-align: center;
    background-color: #896755;
    color:white;
    padding: 15px;
    border-bottom: 4px solid #624435;
    margin-bottom: 15px;
}
h2{
    color:white;
    background-color: #624435;
    padding: 7px;
    width: 300px;
    margin-top: 10px;
    font-size: 19px;
}
h3{
    border-bottom: 2px dotted #624435;
    /*margin:20px; Un valor le pega a todos los lados*/
    /*margin: 20px 0px 10px 0px; 4 valores*/
    margin:20px 0px;
}
main{
    width: 80%;
    margin:auto;
}
li{
    margin-left: 25px;
    margin-bottom: 7px;
}
aside img{
    height: 200px;
}
aside div{
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
footer{
    background-color: #896755;
    border-top: 4px solid #624435;
    text-align: center;
    padding: 10px;
    color:white;
    font-style: italic;
    margin-top: 10px;
}
footer a{
    color:white;
    text-decoration: none;
}
footer a:hover{
    color:#624435;
    text-decoration: underline;
}
.foto-receta{
    width: 500px;
}