*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
header, main{
    max-width: 60em;
    margin: auto;
}
h1{
    margin: 1em 0;
}
a{
    text-decoration: none;
    cursor: pointer;
    border: 1em;
}
a:hover{
    text-decoration: underline;
}
.azul{
    color: blue;
}
#verde{
    background-color: green;
}
#amarillo{
    background-color: yellow;
}
#restablecer{
    background-color: gainsboro;
}