*{
    margin: 0;
    padding: 0;
      
}
body{
    font-family: georgia;
   
     
}
header{
    text-align: center;
   
}


h1{
    color: white;
    background-color: #3f8c7d;
    padding: 40px;
    border-bottom: 17px solid #000;
    font-family: georgia;
    font-size: 27px;
     
}

h2{
    margin: 20px;
    border-bottom: 2px solid #000;
}

#a1{
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
}

#a2{
    margin: 10px;
}
#a3{
    margin-left: 40px;
    margin-right: 40px;
}
p{
    margin: 10px;
}
img{
    width: 250px; 
    height: 150px;
    align-items: center;
}
footer{
    color: white;
    background-color: #000;
    text-align: center;
    padding: 20px;
    border-top: 17px solid #3f8c7d;
    font-family: georgia;
    font-size: 12px;
}