@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    color:#c31818;
    font-family: 'Sansita Swashed', cursive;
}
i{
    text-shadow: 3px 1px 1px rgba(153, 155, 150, 1);
}
h2{
    color:#748ba2;
}
p{
    color:#777;
}
footer{
    color: orange;
}
header, main, footer{
    max-width: 1300px;
    margin: auto;
}
.verde{
    color: green;
}
.comentario{
    color:#ccc;
}
