*{
   margin: 0;
   padding: 0;
}
body{
    font-family: arial;
    background-image: url(../img/fondo02.png);
}
header{
    background-color: #065188;
    padding: 10px;
    color:#fff;
    text-align: center;
    border-bottom: 4px solid #042d4b;
    margin-bottom: 10px;
}
main{
    background-color: #e8e8e8;
    width: 80%;
    margin: auto;
    padding: 20px;
}
a{
    background-color: #dbb188;
    padding: 5px;
    color:#000;
    text-decoration:none;
}
a:hover{
    color:#dbb188;
    background-color: #000;
}
p{
    margin-top: 15px;
}
.texto-centrado{
    text-align: center;
}