@import url(fuente.css);
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: url(../img/bg.gif);
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #2ab49b;
    font-weight: normal;
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
}
h2{
    font-size: 2rem;
    font-weight: normal;
    color: #c2599c;
}
header{
    background: url(../img/bg_header.gif) repeat-x;
    text-align: center;
}
header nav{ 
    float: left;
    margin-top: 1em;
    display:none;
}

img{
    max-width: 100%;
    max-height: auto;
}
input,textarea{
    border: 2px solid #c2599c;
    background: none;
    padding: 0.5em;
}
label, textarea{
    width:100%;
}

nav > ul > li, nav > ul > li > ul > li {
    list-style: none;
}
p,label{
    font-size: 1rem;
}
.aclaracion{
    font-style: italic;
    font-size: 1em;
    color: #a5a4a4;
}
.container{
    width:95%;
    margin:auto;
}
.personalizacion{
    border: #c2599b dashed 1.7px;
    padding: 0.5em;
}
#vistaprevia{
    border: #f05b83 dashed 1px;
    width: 320px;
    height:300px;
    margin: auto;
    font-family: "signpainterhouseshowcard",serif;
}
#vistaprevia h3{
    color:#df6f6e;
    text-align: center;
    font-family: "Just Another Hand", sans-serif;
    font-size: 2em;
    font-weight: 100;
    margin-top: 15px;
}
.opciones label{
    color:#c2599c;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3em;
    line-height: 2em;
    font-weight: 300;
}
.clearfix{
    clear:both;
}
button.confirmar{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background:url(../img/bg_btn_compra.png);
    padding:0.5em;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    color: #fff;
    font-size: 1.3em;
    margin-top:0.5em;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.24);
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.24);
}
a.btnverde{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background:url(../img/bg_btn_enviar.png);
    padding:0.5em;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    display: inline-block;
    width: auto;
    margin: 0.3em 0 0 0.3em;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.24);
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.24);
}
a.btnverde:hover, .btnrosa:hover, .confirmar:hover{
    opacity: 0.8;
}
.btnrosa{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background:url(../img/bg_btn_social.png);
    padding:0.5em;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    display: inline-block;
    width: auto;
    float:right;
    margin:1em 0 0 0.3em;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.24);
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.24);
}
footer{
    font-family: 'Roboto', sans-serif;
    background: #47c9af;
    padding: 0.5em 0;
    color: #fff;
    clear: both;
    margin-top: 0.8em;
}
footer p{
    font-size: 0.8em;
}
.float, .color{
    float: left;
}
.color{
    text-align: center;
    max-width: 37px;
     margin-right: 0.3em;
    
}
.tam{
    clear: both;
}
.tam img{
    margin-top:-1em;
    margin-right: 1em;
    margin-left: 0.3em;
}
.line{
    margin-top: 0.7em;
}
.line input{
    margin-left: 0.6em;
}
.paso{
    margin-bottom: 1em;
}
.izqcolor{
    float: left;
}
#infotam{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #cecece;
    font-size: 1.4em;}
/*--Personajes--*/
#personaje, .white-popup{
    position: relative;
    border: #c2599b dashed 3px;
    padding: 1em;
    background: url(../img/bg.gif);
    max-width: 960px;
    margin: auto;
}
#personaje .element-item{
    text-align: center;
    width: 80px;
    float: left;
}
.derpersonaje{
    float: right;
    font-size: 1.1em;
    margin-right: 1.5em;
}
h2.per{
    display: block;
    width: auto;
    float:left;
}
.headper{
    border-bottom: 2px dotted #c2599c;
    margin-bottom: 0.6em;
    padding-bottom: 0.1em;
}
/*--Personalizacion --*/
.magenta{
    color: #e00d7b;
}
.rosa{
    color:#f05b83;
}
.violeta{
    color:#542785;
}
.celeste{
    color: #009bdf;
}
.azul{
    color: #005da4;
}
.lila{
    color:#6f589b;
}
.rojo{
    color: #ed1c24;
}
.verde{
    color:#009d48;
}
.minirosa, .minimagenta,.miniverde,.miniazul,.miniceleste,.minivioleta,.minilila,.minirojo,
.maxirosa, .maximagenta,.maxiverde,.maxiazul,.maxiceleste,.maxivioleta,.maxilila,.maxirojo,
.spotrosa, .spotmagenta,.spotverde,.spotazul,.spotceleste,.spotvioleta,.spotlila,.spotrojo
{
    width: 320px;
    height:300px;
    margin: auto;
}
/*--OPCIONES Mini --*/
.minirosa{
    background: url(../img/tam/mini-rosa.png) no-repeat #fff;
}
.minimagenta{
    background: url(../img/tam/mini-magenta.png) no-repeat #fff;
}
.miniverde{
    background: url(../img/tam/mini-verde.png) no-repeat #fff;
}
.miniazul{
    background: url(../img/tam/mini-azul.png) no-repeat #fff;
}
.miniceleste{
    background: url(../img/tam/mini-celeste.png) no-repeat #fff;
}
.minivioleta{
    background: url(../img/tam/mini-violeta.png) no-repeat #fff;
}
.minilila{
    background: url(../img/tam/mini-lila.png) no-repeat #fff;
}
.minirojo{
    background: url(../img/tam/mini-rojo.png) no-repeat #fff;
}
.miniblanros{
    background: url(../img/tam/mini-blanco.png) no-repeat #fff;
    color:#f05b83;
}
.miniblancel{
    background: url(../img/tam/mini-blanco.png) no-repeat #fff;
    color:#009bdf;
}
.minirosa,.minimagenta,.miniverde,.miniazul,.miniceleste,.minivioleta,.minilila,.minirojo{
    color: #fff; 
}
.mini #texto{
    width: 270px;
    position: relative;
    top:15px;
    left:57px;
    text-align: center;
}
.mini p{
    display: inline;
}
.mini .normal{
    font-size: 26px;
}
.mini .doce{
    font-size: 20px;
}

.mini img{
    position: relative;
    top:56px;
    left:8px;
    width: 65px;
    height: 48px;
}
/*--OPCIONES Maxi --*/
.maxirosa,.maximagenta,.maxiverde,.maxiazul,.maxiceleste,.maxivioleta,.maxilila,.maxirojo{
    color: #fff; 
}
.maxirosa{
    background: url(../img/tam/maxi-rosa.png) no-repeat #fff;
}

.maximagenta{
    background: url(../img/tam/maxi-magenta.png) no-repeat #fff;
}
.maxiverde{
    background: url(../img/tam/maxi-verde.png) no-repeat #fff;
}
.maxiazul{
    background: url(../img/tam/maxi-azul.png) no-repeat #fff;
}
.maxiceleste{
    background: url(../img/tam/maxi-celeste.png) no-repeat #fff;
}
.maxivioleta{
    background: url(../img/tam/maxi-violeta.png) no-repeat #fff;
}
.maxilila{
    background: url(../img/tam/maxi-lila.png) no-repeat #fff;
}
.maxirojo{
    background: url(../img/tam/maxi-rojo.png) no-repeat #fff;
}
.maxiblanros{
    background: url(../img/tam/maxi-blanco.png) no-repeat #fff;
    color:#f05b83;
}
.maxiblancel{
    background: url(../img/tam/maxi-blanco.png) no-repeat #fff;
    color:#009bdf;
}
.maxi span{
    position: relative;
    top:-62px;
    left:115px;
    text-align: center;
    display: block;
    width: 186px;
    letter-spacing: 1px;
}
.maxi .normal{
    font-size: 34px;
}
.maxi .doce{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0px;
}

.maxi img{
    position: relative;
    top:28px;
    left:17px;
    width: 99px;
    height: 99px;
}
.maxi #infotam .normal{
    margin-top: 30px;
}
.maxi #infotam .completo{
    margin-top: 0px;
    background: blue;
    display: block;
    clear: both;
}

/*--OPCIONES spot --*/
.spotrosa{
    background: url(../img/tam/spot-rosa.png) no-repeat #fff;
    color:#f05b83;
}
.spotblanros{
    background: url(../img/tam/spot-blanco.png) no-repeat #fff;
    color:#f05b83;
}
.spotmagenta{
    background: url(../img/tam/spot-magenta.png) no-repeat #fff;
    color: #e00d7b;
}
.spotverde{
    background: url(../img/tam/spot-verde.png) no-repeat #fff;
    color:#009d48;
}
.spotazul{
    background: url(../img/tam/spot-azul.png) no-repeat #fff;
    color: #005da4;
}
.spotceleste{
    background: url(../img/tam/spot-celeste.png) no-repeat #fff;
    color: #009bdf;
}
.spotblancel{
    background: url(../img/tam/spot-blanco.png) no-repeat #fff;
    color:#009bdf;
}
.spotvioleta{
    background: url(../img/tam/spot-violeta.png) no-repeat #fff;
    color:#542785;
}
.spotlila{
    background: url(../img/tam/spot-lila.png) no-repeat #fff;
    color:#6f589b;
}
.spotrojo{
    background: url(../img/tam/spot-rojo.png) no-repeat #fff;
     color: #ed1c24;
}
.spot p{
    position: relative;
    top: -182px;
    left: -2px;
    font-size: 30px;
    text-align: center;
}
.spot p.curvodos{
    top:-72px;
    
}
.spot .normal{
    font-size: 30px;
}
.spot .doce{
    font-size: 26px !important;
    letter-spacing: -0.5px;
}

.spot img{
    position: relative;
    top:10px;
    left:60px;
    width: 193px;
    height: 193px;
}
.spot #infotam{
    margin-top: 125px;
}
@media screen and (min-width:30em){
     .color{
         margin-right: 1.3em;
     }
}
@media screen and (min-width:40em){
    header figure{
        float: left;
    }
    figure.frase{
        float:right;
        margin-top: 100px;
    }
    
}
@media screen and (min-width:50em){
   
}

@media screen and (min-width:60em){
    .container{
        max-width: 60em;
        margin: auto;
    }
    .izq{
        float: left;
        width: 47%;
    }
    .der{
        float: right;
        width: 49%;
    }
    
    #vistaprevia{
        float: left;
    }
    .opciones{
        float: right;
        width:580px;
    }
}