@import url(etiquecosas.css);
.item{
    border-bottom: #c2599b dashed 1px;
    margin-bottom: 0.5em;
}
.vista{
    width: 175px;
    height: 110px;
    margin-right: 15px;
    float: left;
    background: url(../img/resumen/etiqueta.png);
    font-family: "signpainterhouseshowcard",serif;
}
a.per{
    display: inline-block;
}
.descripcion{
    float: left;
    color:#aaaaaa;
    font-size: 17px;
    text-align: center;
}
.confirmacion{
    margin-bottom: 0.5em;
    clear: both;
}
.personalizacion{
    margin-bottom: 1em;
}

/*--OPCIONES Mini --*/
.minirosa{
    background: url(../img/resumen/mini-rosa.png) no-repeat;
}
.minimagenta{
    background: url(../img/resumen/mini-magenta.png) no-repeat;
}
.miniverde{
    background: url(../img/resumen/mini-verde.png) no-repeat;
}
.miniazul{
    background: url(../img/resumen/mini-azul.png) no-repeat;
}
.miniceleste{
    background: url(../img/resumen/mini-celeste.png) no-repeat;
}
.minivioleta{
    background: url(../img/resumen/mini-violeta.png) no-repeat;
}
.minilila{
    background: url(../img/resumen/mini-lila.png) no-repeat;
}
.minirojo{
    background: url(../img/resumen/mini-rojo.png) no-repeat;
}
.miniblanros{
    background: url(../img/resumen/mini-blanco.png) no-repeat;
    color:#f05b83;
}
.miniblancel{
    background: url(../img/resumen/mini-blanco.png) no-repeat;
    color:#009bdf;
}
.minirosa,.minimagenta,.miniverde,.miniazul,.miniceleste,.minivioleta,.minilila,.minirojo{
   color: #fff; 
}
.mini #texto{
    width: 136px;
    position: relative;
    top:15px;
    left:40px;
    text-align: center;
}
.mini p{
    display: inline;
}
.mini p.normal{
    font-size: 14px;
}
.mini p.doce{
    font-size: 11px;
}

.mini img{
    position: relative;
    top:41px;
    left:2px;
    width: 37px;
    height: 27px;
}
/*--OPCIONES Maxi --*/
.maxirosa,.maximagenta,.maxiverde,.maxiazul,.maxiceleste,.maxivioleta,.maxilila,.maxirojo{
    color: #fff; 
}
.maxirosa{
    background: url(../img/resumen/maxi-rosa.png) no-repeat;
}
.maximagenta{
    background: url(../img/resumen/maxi-magenta.png) no-repeat;
}
.maxiverde{
    background: url(../img/resumen/maxi-verde.png) no-repeat;
}
.maxiazul{
    background: url(../img/resumen/maxi-azul.png) no-repeat;
    color: #005da4;
}
.maxiceleste{
    background: url(../img/resumen/maxi-celeste.png) no-repeat;
}
.maxivioleta{
    background: url(../img/resumen/maxi-violeta.png) no-repeat;
}
.maxilila{
    background: url(../img/resumen/maxi-lila.png) no-repeat;
}
.maxirojo{
    background: url(../img/resumen/maxi-rojo.png) no-repeat;
}
.maxiblanros{
    background: url(../img/resumen/maxi-blanco.png) no-repeat;
    color:#f05b83;
}
.maxiblancel{
    background: url(../img/resumen/maxi-blanco.png) no-repeat;
    color:#009bdf;
}
.maxi span{
    position: relative;
    top:-35px;
    left:60px;
    text-align: center;
    display: block;
    width: 114px;
}
.maxi p.normal{
    font-size: 24px;
}
.maxi p.doce{
    font-size: 21px;
    line-height: 27px;
}

.maxi img{
    position: relative;
    top:25px;
    left:2px;
    width: 60px;
    height: 60px;
}
/*--OPCIONES spot --*/
.spotrosa{
    background: url(../img/resumen/spot-rosa.png) no-repeat;
    color:#f05b83;
}
.spotmagenta{
    background: url(../img/resumen/spot-magenta.png) no-repeat;
    color: #e00d7b;
}
.spotverde{
    background: url(../img/resumen/spot-verde.png) no-repeat;
    color:#009d48;
}
.spotazul{
    background: url(../img/resumen/spot-azul.png) no-repeat;
    color: #005da4;
}
.spotceleste{
    background: url(../img/resumen/spot-celeste.png) no-repeat;
    color: #009bdf;
}
.spotvioleta{
    background: url(../img/resumen/spot-violeta.png) no-repeat;
    color:#542785;
}
.spotlila{
    background: url(../img/resumen/spot-lila.png) no-repeat;
    color:#6f589b;
}
.spotrojo{
    background: url(../img/resumen/spot-rojo.png) no-repeat;
     color: #ed1c24;
}
.spotblancel{
    background: url(../img/resumen/spot-blanco.png) no-repeat;
    color:#009bdf;
}
.spotblanros{
    background: url(../img/resumen/spot-blanco.png) no-repeat;
    color:#f05b83;
}
.spot p{
    position: relative;
    top: -107px;
    font-size: 21px;
    text-align: center;
    z-index: 5;
    letter-spacing: -1.5px;
}
.spot p.curvodos{
    top:-53px;
    letter-spacing: -0.5px;
}
.spot .normal{
    font-size: 20px;
}
.spot p.doce{
    font-size: 18px !important;
    letter-spacing: -1.5px;
    line-height: 22px;
}
.spot img{
    position: relative;
    left: 35px;
    width: 105px;
    height: 105px;
}

/*-----Opciones Combos----------------------------------------------*/
.combo{
    width: 250px;
    height: 150px;
}
.combo img{
    position: relative;
    top: -43px;
    width: 250px;
    height: auto;
}
#spot p{
   position: relative;
    top: -193px; 
    left:75px;
    font-size: 15px;
    text-align: center;
}
#spot p.curvodos{
    top: -144px;
}
#spot .normal{
    font-size: 15px;
    letter-spacing: -0.2px !important;
}
#spot p.doce{
    font-size: 15px !important;
    letter-spacing: -0.7px !important;
}
#maxi span{
    position: relative;
    top:-217px;
    left:58px;
    text-align: center;
    display: block;
    width: 90px;
}
#maxi span.normal {
    font-size: 18px;
    line-height: 18px;
}
#maxi span.doce{
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
}

#maxi, #mini{
   color: #fff;
}
#mini{
    text-align: center;
    width: 110px;
    position: relative;
    top:-201px;
    left:40px;
}
#mini p{
    display: inline;
}
#mini span.normal{
    font-size: 12px;
}
#mini span.doce{
    font-size: 11px;
    line-height: 14px;
}
#cinta{
    width: 155px;
    position: relative;
    top:-180px;
    left:45px;
    text-align: center;
}
#cinta p{
    display: inline;
}
#cinta span.normal{
    font-size: 15.5px;
}
#cinta span.doce{
    font-size: 13.3px;
    line-height: 16px;
}

.comboblanros #maxi, .comboblanros #mini, .jardinblanros #maxi, .jardinblanros #mini{
    color: #f05b83;
}
.comboblancel #maxi, .comboblancel #mini,.jardinblancel #maxi, .jardinblancel #mini{
    color: #009bdf;
}
.comborosa #spot,.comborosa #cinta, .jardinrosa #spot,.jardinrosa #cinta {
    color:#f05b83;
}
.combomagenta #spot,.combomagenta #cinta, .jardinmagenta #spot,.jardinmagenta #cinta {
    color: #e00d7b;
}
.combovioleta #spot, .combovioleta #cinta, .jardinvioleta #spot, .jardinvioleta #cinta{
    color:#542785;
}
.comboceleste #spot, .comboceleste #cinta, .jardinceleste #spot, .jardinceleste #cinta{
    color: #009bdf;
}
.comboazul #spot, .comboazul #cinta, .jardinazul #spot, .jardinazul #cinta{
    color: #005da4;
}
.combolila #spot, .combolila #cinta, .jardinlila #spot, .jardinlila #cinta{
    color:#6f589b;
}
.comborojo #spot, .comborojo #cinta, .jardinrojo #spot, .jardinrojo #cinta{
    color: #ed1c24;
}
.comboverde #spot, .comboverde #cinta, .jardinverde #spot, .jardinverde #cinta {
    color:#009d48;
}
/*Opciones Combos Campamento y Primaria*/
.comborosa{
    background: url(../img/resumen/combo-rosa.png) no-repeat;
}
.combomagenta{
    background: url(../img/resumen/combo-magenta.png) no-repeat;
}
.comboroja{
    background: url(../img/resumen/combo-roja.png) no-repeat;
}
.combovioleta{
    background: url(../img/resumen/combo-violeta.png) no-repeat;
}
.combolila{
    background: url(../img/resumen/combo-lila.png) no-repeat;
}
.comboceleste{
    background: url(../img/resumen/combo-celeste.png) no-repeat;
}
.comboazul{
    background: url(../img/resumen/combo-azul.png) no-repeat;
}
.comboverde{
    background: url(../img/resumen/combo-verde.png) no-repeat;
}
.comboblanros{
    background: url(../img/resumen/combo-blanca.png) no-repeat;
    color: #f05b83;
}
.comboblancel{
    background: url(../img/resumen/combo-blanca.png) no-repeat;
    color: #009bdf;
}
/*Opciones Combos Jardin*/
.jardinrosa{
    background: url(../img/resumen/combo-rosa-jardin.png) no-repeat;
}
.jardinmagenta{
    background: url(../img/resumen/combo-magenta-jardin.png) no-repeat;
}
.jardinroja{
    background: url(../img/resumen/combo-roja-jardin.png) no-repeat;
}
.jardinvioleta{
    background: url(../img/resumen/combo-violeta-jardin.png) no-repeat;
}
.jardinlila{
    background: url(../img/resumen/combo-lila-jardin.png) no-repeat;
}
.jardinceleste{
    background: url(../img/resumen/combo-celeste-jardin.png) no-repeat;
}
.jardinazul{
    background: url(../img/resumen/combo-azul-jardin.png) no-repeat;
}
.jardinverde{
    background: url(../img/resumen/combo-verde-jardin.png) no-repeat;
}
.jardinblanros{
    background: url(../img/resumen/combo-blanca-jardin.png) no-repeat;
    color: #f05b83;
}
.jardinblancel{
    background: url(../img/resumen/combo-blanca-jardin.png) no-repeat;
    color: #009bdf;
}
.jardinrosa #mini, .jardinblanros #mini,.jardinblancel #mini,.jardinmagenta #mini,.jardinroja #mini,.jardinvioleta #mini,.jardinlila #mini,.jardinazul #mini,.jardinverde #mini,.jardinceleste #mini{
    visibility:hidden; 
}

@media screen and (min-width:30em){
   
}
@media screen and (min-width:40em){
    header figure{
        float: left;
    }
    figure.frase{
        float:right;
        margin-top: 100px;
    }
     .descripcion{
        float: left;
        height: 70px;
        padding-top: 40px;
    }
    .confirmacion{
        padding-top: 20px;
        float:right;
        clear: none;
    }
    .comb > .descripcion{
        padding-top: 60px;
    }
     .comb > .confirmacion{
        padding-top: 40px;
     }
}
@media screen and (min-width:50em){
   
}

@media screen and (min-width:60em){
    .container{
        max-width: 60em;
        margin: auto;
    }
    .izq{
        float: left;
        width: 47%;
    }
    
}