@import url(etiquecosas.css);
body{
    font-family: 'Roboto', sans-serif;
}
label{
    font-size: 1em;
}
.login{
    width:90%;
    margin: auto;
}
input{
    padding: 2%;
    width:95%;
    font-size: 0.9em;
}
label{
    display: block;
    margin-top: 1em;
}
button{
    float: right;
    margin-right: 0em;
    margin-top: 1em !important;
    font-size: 1.3em !important;
}
@media screen and (min-width:40em){
    .personalizacion{
        padding:2em 0;

    }
    .login{
        max-width: 30em;}
}
@media screen and (min-width:60em){
    
}