@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.menu{
    background-color:#1c6674;
}
.menu ul{
    display: flex;
    justify-content: center;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color:#fff;
    padding: 10px;
    display: block;
}
.menu a:hover{
    color:#1c6674;
    background-color:#fff;
}