*{
    padding: 0;
    margin:0;
}
body{
    font-family: Georgia, serif;
}
h2{
    color: #0070a8;
    font-size: 20px;
    margin-bottom: 10px;
}
header{
    color: #fff;
    background-color: #0070a8;
    padding: 40px;
    text-align: center;
    border-bottom: 4px #02527b solid;
}
main{
    background-color: #efefef;
}
section{
    width: 85%;
    margin: auto;
    padding: 40px 0;
}
footer{
    background-color: #9b9b9b;
    color: #fff;
    padding: 15px;
    border-top: 3px solid #6a6767;
}
.datos a{
    color: #ddd8d8;
    text-decoration: none;
}
.datos a:hover{
    text-decoration: underline;
}
.noticia{
    border: 2px solid #c7c5c5;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
}