body{
	font-family: arial;
}
article{
	padding: 50px;
	text-align: center;
	background: #ccc;
	border:2px solid #000;
    margin-bottom:20px;
    width: 33%;
    box-sizing: border-box;
}
.contenedor{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.item2{
    padding: 100px;
}
