*{
    margin: 0;
    padding: 0;
}
.col{
    background-color: #7b1873;
    color:#fff;
    padding: 0.8em;
    margin-top:1em;
    box-sizing: border-box;
}
@media screen and (min-width:47em){
    .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col{
        width: calc(50% - 2em);
    }
}
@media screen and (min-width:60em){
    .col{
        width:calc(33% - 1em);
    }
}
@media screen and (min-width:80em){
    .col{
        width: calc(25% - 1em);
    }
}