body{
	font-family: arial;
}
article{
	padding: 50px;
	text-align: center;
	background: #ccc;
	border:2px solid #000;
    margin-bottom:20px;
    /*width: 46%;
    margin:10px 2%;*/
    width: calc(50% - 50px);
    box-sizing: border-box;
}
.contenedor{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;/*Maneja el encolumnado*/
    align-items: center;
    flex-wrap: wrap;
}
.item2{
    padding: 100px;
}
